version: "3.8"

services:

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    env_file:
      - .env
    environment:
      - STORAGE_NODE_SERVER_IP=${STORAGE_NODE_SERVER_IP}
    entrypoint:
      - /bin/sh
      - -c
      - |
        sed "s/<STORAGE_NODE_SERVER_IP>/$${STORAGE_NODE_SERVER_IP}/g" /etc/prometheus/prometheus.yml.template > /etc/prometheus/prometheus.yml
        /bin/prometheus --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus --web.enable-remote-write-receiver
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml.template
      - prometheus-data:/prometheus


  grafana:
    image: grafana/grafana
    container_name: grafana
    env_file:
      - .env
    ports:
      - "3500:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ADMIN_USER=admin
    volumes:
      - grafana-data:/var/lib/grafana


  k6:
    image: grafana/k6
    container_name: k6
    env_file:
      - .env
    environment:
      - K6_PROMETHEUS_RW_TREND_AS_NATIVE_HISTOGRAM=true
    volumes:
      - ./k6:/scripts
    entrypoint: ["sleep", "infinity"]


volumes:
  prometheus-data:
  grafana-data: